html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgba(204, 204, 204, 1);
    padding: 10px 0px;
}

.logo {
    position: relative;
    left: 2.5%;
}

.logo img {
    width: 100%;
    height: auto;
}

.header-nav {
    display: flex;
    align-items: center;
    position: relative;
    right: 2.5%;
}

.header-nav a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
}

.header-nav span {
    margin: 0 5px;
    color: black;
}

.header-blow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 1% 0;
}

.header-blow-nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.header-blow-nav a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
}

.right-section {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.search-form {
    position: relative;
    max-width: 300px;
    display: flex;
    align-items: center;
}

.search-form input[type="text"] {
    width: 100%;
    padding: 6% 21%;
    border-radius: 20px;
    box-sizing: border-box;
    outline: none;
    border: none;
    background-color: rgba(245, 245, 245, 1);
}

.search-form button {
    position: absolute;
    top: 0;
    left: 2px;
    border: none;
    background: none;
    cursor: pointer;
    padding: 8px;
    height: 100%;
}

.icons {
    display: flex;
    align-items: center;
    margin-left: 100px;
    position: relative;
    right: 2.5%;
}

.icons a {
    margin: 0 10px;
    width: 25px; 
    height: 25px; 
}

.icons img {
    width: 100%;
    height: 100%;
}

/* Mobile  */
@media (max-width: 768px) {
    .header, .header-blow {
        align-items: center;
    }

    .logo, .right-section {
        left: 2.5%;
        right: 2.5%;
    }

    .header-nav, .header-blow-nav {
        align-items: center;
    }

    .header-nav a, .header-blow-nav a {
        font-size: 10px;
        margin: 5px 5px;
        padding-left: 4px;
    }

    .icons {
        flex-direction: row;
        margin-left: 0;
        justify-content: center;
    }

    .search-form input[type="text"] {
        padding: 8px 28px;
    }

    .search-form, .icons {
        width: 100%;
    }
}