body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    padding-left: 2.5%;
}

.cart {
    width: 60%;
}

.summary {
    width: 30%;
    padding: 20px;
    border: 1px solid #e5e5e5;
    background: #f9f9f9;
    align-self: flex-start;
}

.item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}

.item img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.details {
    flex-grow: 1;
    font-size: 14px;
}

.price-quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.summary h2, .cart h2, .favourites h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.checkout {
    width: 100%;
    padding: 10px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 20px;
}

.favourites {
    margin: 20px;
}

.favourites .item {
    border: none;
}


.size-quantity {
    display: flex;
    align-items: center;
}

.size-quantity select, .size-quantity input {
    margin-right: 10px;
}

.remove {
    background-color: #fffefe;
    color: white;
    border: none;
    padding: 1%;
    border-radius: 10px;
    cursor: pointer;
}

.remove img {
    width: 30%;
    height: auto;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    width: 100%;
    height: auto;
}

.xoa {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 100%;
    padding: 10px;
    cursor: pointer;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 5%;
    }

    .cart, .summary {
        width: 90%;
        margin-bottom: 20px;
    }

 
    .checkout {
        font-size: 14px;
    }
}
