.header-nav p {
    margin: 0 10px;
    text-decoration: none;
    color: black;
}
.container {
    position: relative;
    left: 11%;  
    display: flex;
    overflow-x: hidden;  
    width: 200%; 
    overflow-y: auto; 
    flex: 0 0 250px; 
    height: 100%; 
    padding-right: 1%; 
}
.sidebar {
    width: 65%;
    padding: 1% 0;
    /* height: 500px;  */
    overflow-y: auto; 
}
.sidebar a {
    display: block; 
    margin: 10px 0; 
    font-family: Arial, Helvetica, sans-serif;
    color: #000; 
    text-decoration: none; 
    font-size: 16px; 
   
}
.special-link {
    border-bottom: 1px solid grey; 
    padding-bottom: 30%;
}

.sidebar a:hover {
    color: #555; 
}
.gender-toggle {
    display: flex;
    align-items: center; 
    cursor: pointer;
}

.gender-section p {
    margin: 0 10px 0 0; 
    font-size: 16px;
 
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}

.gender-section img {
    width: 10px; 
    height: auto; 
    padding:20% 0;
}

.gender-section{
    border-bottom: 1px solid grey; 
    padding-bottom: 5px;
}

.product {
    flex: 1; 
    width: 350px;
    box-sizing: border-box;
    float:left;
    /* background-color: rgb(255, 0, 8); */
    margin-left: 3%;
}
.product img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.product div{
    font-size:14px;
    font-family: Arial, Helvetica, sans-serif;
    height: 200px;
}
.container-all {
    display: flex;
    width: 20%;
    height: 75vh;  
    overflow: hidden; 
    
}


.main-content {
    border-bottom: 1px solid grey;
    justify-content: space-between; 
    width: 80%;
    padding-bottom:10%;
}

.all{
    display: flex;
    /* background-color: aquamarine; */
}
.text{
    margin-top: 8% ;
    margin-bottom: 20%;
    position:relative;
    left:20%;
    width: 80%;
}
.text p{
    font-family: Arial, Helvetica, sans-serif;
    font-size:24px;
}

.button button {
    float: left; 
    margin: 10px;
    padding: 10px 20px; 
    background-color: white; 
    border: 2px solid #f0f0f0; 
    border-radius: 20px; 
    color: black; 
    font-family: Arial, Helvetica, sans-serif; 
}

.button button:hover {
    background-color: #f8f8f8; 
}
@media (max-width: 768px) {
    
    .sidebar {
        width: 25%;
        order: 2;  
    }
    .sidebar a, .gender-section p {
        font-size: 8px; 
    }

    .main-content {
        width: 100%;
        order: 1;
    }
    .product {
        max-width: 48%;
        margin: 10px 2px; 

    }
    .product p{
        font-size:12px;
    }
}
@media (max-width: 768px) {
    .text p {
        font-size: 18px; 
    }
    .button button {
        padding: 8px 16px; 
    }
   .container-all{
    width: 30%;
    flex-direction: column;
   }
}